@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
* {
  margin: 5px;
  color: white;
  font-family: 'Poppins', sans-serif;
}
body {
  width: 100%;
  height: 100%;
  background-color: #001c0d;
  background-attachment: fixed;
}

h1 {
  font-size: 107px;
  text-align: center;
  color: white;
}

.form {
  display: flex;
  justify-content: center;
}
input,
button{
    color: black;
}

.white_container{
  background-color: white;
  width: 39.5%;
  height: 300px;
  left: 30%;
  margin-top: 50px;
  position: relative;
}
.countdown{
  color: red;
  text-align: center;
  position: relative;
  top: -185px;
  font-size: 70px;
}

.rounddisplay{
  text-align: center;
  top: -360px;
  position: relative;
  color:#001c0d;
  font-size: 40px;
}